---
---
<div class="flex items-center justify-center py-6 select-none">
  <img 
    src="/halt_core.png" 
    alt="Halt Core Logo" 
    class="w-[180px] h-[180px] object-contain transition-transform duration-700 ease-out group-hover:scale-105"
  />
</div>
