---
---
<div class="flex items-center justify-center py-6 select-none">
  <img 
    src="/presentella.png" 
    alt="Presentella Logo" 
    class="w-[200px] h-[200px] object-contain transition-transform duration-700 ease-out group-hover:scale-105"
  />
</div>
